<nav class="navbar navbar-expand-lg my-nav navbar-dark">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="store" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Здравословни храни
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div class="container-fluid">
            
          <div class="col-lg-3">
            <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link item</a>
            </li>
          </ul>
          </div>              
            </div>
          </div> 
          <!--  /.container  -->

       
      </li>
     

    </ul>
    <ul class="navbar-nav nav-right">
      <li class="nav-item"><a class="nav-link"href="">Вход</a></li>
      <li class="nav-item"><a class="nav-link" href="">Регистрация</a></li>
    </ul>
    
  </div>


</nav>



