<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="1000">
        <img src="../../assets/freedeliverybanner.jpg"class="d-block w-100 h-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="../../assets/freedeliverybanner.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/freedeliverybanner.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <app-recommend-products></app-recommend-products>