<div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
    <article class="card-wrapper">
        <div class="image-holder">
            <a href="" class="image-holder__link" ></a>
            <div class="image-liquid image-holder--original" style="background-origin: unset;"   [ngStyle]="{background: 'url('+ product.image + ')'}" >
            </div>
        </div>
        <div class="product-description">
            <!-- title -->
            <h1 class="product-description__title">
                <a href="#">
                    {{ product.name }}
                </a>
            </h1>
            <div class="row">
                <div class="col-xs-12 col-sm-8 product-description__category secondary-text" id="des">
                Производител:{{ product.maker }}
                </div>
                <div class="col-xs-12 col-sm-4 product-description__price">
                    <ng-template [ngIf]='product._promo_price > 0'>
                    {{ product._promo_price }}лв. 
                </ng-template>
                    {{ product.price }}лв.  
                </div>
                
            </div>


            <hr />

            <div class="color-wrapper">
                <a href="" class="btn openmodal" style=" background-color:#379683;color:white;" [routerLink]="['/products',product.id]"><b>Детайли</b></a>

                
                <span>{{ product.description }}</span>

            </div>
        </div>
    </article>
   
</div>
