<div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
    <div class="wrapper1 fadeInDown  modal-dialog" >
        <div id="formContent" class="modal-content">
        

            <form action="" method="post">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <fieldset>
                <h3  class="fadeIn first"style="text-align: center; color:limegreen; font-family: Comic Sans MS, cursive, sans-serif">Регистрация</h3>
                <label for="user_FirstName"></label><input type="text" class="fadeIn" id="user_FirstName" placeholder="Име" name="user[firstName]">
                <input class="fadeIn" id="user_LastName" name="user[lastName]" placeholder="Фамилия"
                       type="text">
                <label for="user_email"></label><input type="text" id="user_email" class="fadeIn second" name="user[email]" placeholder="Ел.поща">
                <label for="user_password"></label><input type="password" id="user_password" class="fadeIn second" name="user[password]" placeholder="Парола">

                <input type="submit" class="fadeIn fourth btn btn-success" value="Регистрация">
                </fieldset>
            </form>

        

        </div>
    </div>